// Define variables for your color scheme

// For example:
// $principal: #ff9800;
$principal: #FD7A41;

// $principalhover: #e5830b;
$principalhover: #F36540;
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
