// Specific CSS for your home-page

body {
  font-family: 'Raleway', Arial, sans-serif;
  background-color: white;
  // padding-left: 100px;
  // padding-right: 100px;
  padding-top: 135px;
  // background-color: #d7d9d8
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Questrial', Arial, sans-serif;

  // font-family: 'Questrial', sans-serif;
}


// FORM DE CONTACTO

.input-line-contact {
  border: none; /* Elimina todos los bordes */
  border-bottom: 2px solid black; /* Agrega solo la línea inferior */
  border-radius: 0; /* Elimina los bordes redondeados */
  outline: none; /* Elimina el contorno al enfocarse */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  box-shadow: none; /* Evita sombras externas */
  padding: 5px 0; /* Agrega algo de espacio interno */
  background-color: transparent; /* Fondo transparente */
}

.input-line-contact:focus {
  border: none;
  border-bottom: 2px solid $principal; /* Cambia la línea a azul al enfocarse */
  outline: none; /* Mantén el contorno desactivado */
  background-color: transparent;
  outline: none; /* Elimina el contorno del navegador */
  box-shadow: none;
}


// BANNER
.carousel-inner {
  height: auto; /* Ocupa el 50% de la altura de la ventana visible */
}

.banner-img {
  object-fit: contain; /* Llena el contenedor sin deformarse */
  width: 100%; /* Ocupa el 100% del ancho */
  height: 100%; /* Se adapta al 100% de la altura del contenedor */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .carousel-inner {
    height: 30vh; /* Reduce la altura a 30% en dispositivos pequeños */
  }
}


// VIDEOS DE HOME

.video-container {
  max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
  margin: 0 auto; /* Centra el video si hay espacio extra */
}

.text-gray {
  color: #6c757d; /* Ajusta el color del texto gris si es necesario */
}
