// Specific CSS for your home-page
@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/century-gothic.woff2') format('woff2'),
       url('/fonts/century-gothic.woff') format('woff');
  font-weight: light;
  font-style: normal;
}
body {
  font-family: 'Century Gothic', Arial, sans-serif;
  background-color: white;
  // padding-left: 100px;
  // padding-right: 100px;
  padding-top: 135px;
  // background-color: #d7d9d8
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Century Gothic', Arial, sans-serif;

  // font-family: 'Questrial', sans-serif;
}


// FORM DE CONTACTO

.input-line-contact {
  border: none; /* Elimina todos los bordes */
  border-bottom: 2px solid black; /* Agrega solo la línea inferior */
  border-radius: 0; /* Elimina los bordes redondeados */
  outline: none; /* Elimina el contorno al enfocarse */
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
  box-shadow: none; /* Evita sombras externas */
  padding: 5px 0; /* Agrega algo de espacio interno */
  background-color: transparent; /* Fondo transparente */
}

.input-line-contact:focus {
  border: none;
  border-bottom: 2px solid #ff9800; /* Cambia la línea a azul al enfocarse */
  outline: none; /* Mantén el contorno desactivado */
  background-color: transparent;
  outline: none; /* Elimina el contorno del navegador */
  box-shadow: none;
}
