<div class="col-12 mx-2 mt-5 mb-1">
  <div id="map"></div>
</div>

<script async
  src="https://maps.googleapis.com/maps/api/js?key=<%= @google_api_key %>&callback=initMap">
  // !!!!!!!!!!REEMPLAZAR CAMBIAR POR API KEY DEL DUEÑO!!!!!!!!!!!!!
</script>

<script>
  function initMap() {
    var location = {lat: -34.8978457839486, lng: -56.069537488069656};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: location
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }
</script>
