<div class="p-4 border rounded" style="border-color: #b48ee8;">
  <h4><strong>Garantía con instalación incluida:</strong></h4>
  <p>
    La garantía tiene una duración de 1 año y cubre defectos de fábrica en el motor, repuestos y servicio técnico.
  </p>
  <p>
    La garantía quedará anulada en caso de: intervención del motor por terceros, daños causados por impactos en el portón, uso indebido del automatismo, robo o daños por fenómenos naturales como caída de rayos.
  </p>
  <h4><strong>Garantía sin instalación:</strong></h4>
  <p>
    La garantía tiene una duración de 1 año y cubre únicamente defectos de fábrica. No se cubren problemas derivados de una instalación incorrecta.
  </p>
  <h2 class="fw-bold mt-4">ENTREGAS</h2>
  <p>
    Ofrecemos servicios de instalación en Zona Metropolitana hasta Costa Azul. Los equipos sin instalación se envían por DAC, siendo el costo de

**envío asumido por el comprador.**
    Retiro gratuito en nuestro local.
  </p>
</div>
