<div class="container mt-5">
  <!-- Bloque principal con título y descripción -->
  <div class="row">
    <div class="col-12">
      <h2 class="fw-bold">Nosotros</h2>
    </div>
  </div>

  <!-- Bloque secundario con texto e imagen alineados -->
  <div class="row align-items-center mt-4">
    <div class="col-md-6">
      <div class="p-4 bg-light rounded-3">
        <p>
          Con 30 años de experiencia, PPA se ha consolidado como la marca líder en automatización de portones en Uruguay. Gracias a nuestras innovadoras campañas publicitarias y estratégicas acciones de marketing, hemos democratizado el acceso a la automatización, haciéndola popular y asequible para todos.

        </p>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <%= image_tag 'About1.jpg', alt: 'Imagen de la sucursal de Sicher', class: 'img-fluid rounded-3', style: 'width: 350px; height: auto;' %>
    </div>
  </div>

  <!-- Bloque final en tres columnas -->
  <div class="row mt-4 text-center">
    <!-- Columna 1: Imagen promocional -->
    <div class="col-md-4 mb-4">
      <%= image_tag 'About2.jpg', alt: "Promoción de 'Ahora Sí Wi-Fi'", class: 'img-fluid rounded-3', style: 'width: 120px; height: auto;' %>
      <p class="mt-2"><strong>Sicher</strong> - Sistemas de Seguridad</p>
    </div>

    <!-- Columna 2: Número de contacto con ícono -->
    <div class="col-md-4 mb-4">
      <div class="p-4 bg-light rounded h-100 d-flex align-items-center justify-content-center">
        <p class=" mb-0 rounded-3">
          La fusión con Sicher Systems de Seguridad nos posiciona para competir en los más altos estándares de calidad. Esta alianza nos permite incorporar nuevos productos a nuestro portafolio y estar a la vanguardia de los avances tecnológicos.

        </p>
      </div>
    </div>

    <!-- Columna 3: Imagen con homenaje -->
  <div class="row mt-5 justify-content-center text-center">
    <div class="col-md-6 mb-5">
      <%= image_tag 'About3.jpg', alt: 'Imagen homenaje a Toto Da Silveira', class: 'img-fluid rounded-3', style: 'width: 100%; max-width: 500px;' %>
      <p class="text-center mt-2"><em>Un homenaje a nuestro querido amigo Toto Da Silveira</em></p>
    </div>
  </div>
  </div>
</div>
