
.card:hover {
  border-color: $principal;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
}

.btn-custom {
  color: var(--fc-btn-color, #fff);
  background-color: var(--fc-btn-bg, $principal);
  border-color: var(--fc-btn-border-color, $principal);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-custom:hover {
  color: var(--fc-btn-hover-color, #fff);
  background-color: var(--fc-btn-hover-bg, $principalhover);
  border-color: var(--fc-btn-hover-border-color, $principalhover);
}

.btn-custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--fc-btn-focus-shadow-rgb, 47, 185, 47), 0.5);
}

.btn-custom:active {
  color: var(--fc-btn-active-color, #fff);
  background-color: var(--fc-btn-active-bg, $principalhover);
  border-color: var(--fc-btn-active-border-color, $principalhover);
  box-shadow: var(--fc-btn-active-shadow, inset 0 3px 5px rgba(0, 0, 0, 0.125));
}

.btn-custom:disabled {
  color: var(--fc-btn-disabled-color, #fff);
  background-color: var(--fc-btn-disabled-bg, $principal);
  border-color: var(--fc-btn-disabled-border-color, $principal);
}


.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff; /* Opcional: fondo blanco para separación */
  padding: 10px; /* Espacio interno para separación */
}



.productcard {
  position: relative;
}

.rounded-50 {
  border-radius: 50%;
}
