
.card:hover {
  border-color: #ff9800;
}

.card {
  background-color: white;
  border-radius: 0.5rem;
}

.btn-custom {
  color: var(--fc-btn-color, #fff);
  background-color: var(--fc-btn-bg, #ff9800);
  border-color: var(--fc-btn-border-color, #ff9800);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-custom:hover {
  color: var(--fc-btn-hover-color, #fff);
  background-color: var(--fc-btn-hover-bg, #d98405);
  border-color: var(--fc-btn-hover-border-color, #d98405);
}

.btn-custom:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--fc-btn-focus-shadow-rgb, 47, 185, 47), 0.5);
}

.btn-custom:active {
  color: var(--fc-btn-active-color, #fff);
  background-color: var(--fc-btn-active-bg, #d98405);
  border-color: var(--fc-btn-active-border-color, #d98405);
  box-shadow: var(--fc-btn-active-shadow, inset 0 3px 5px rgba(0, 0, 0, 0.125));
}

.btn-custom:disabled {
  color: var(--fc-btn-disabled-color, #fff);
  background-color: var(--fc-btn-disabled-bg, #ff9800);
  border-color: var(--fc-btn-disabled-border-color, #ff9800);
}


.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff; /* Opcional: fondo blanco para separación */
  padding: 10px; /* Espacio interno para separación */
}

.discount-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 0.75rem;
  font-weight: bold;
}

.productcard {
  position: relative;
}

.discount-badge {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
}

.fire-icon {
  position: absolute;
  bottom: 30px;
  left: 25px;
  z-index: 1;
  width: 50px;
  height: 50px;
}

.rounded-50 {
  border-radius: 50%;
}
