<div class="container">
  <h2 class="my-5 fw-bold">Promociones</h2>


  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
    <% @promoted_products.each do |product| %>
        <%= render partial: 'product_card_promo', locals: { product: product } %>
    <% end %>
  </div>
</div>
