<div class="container">
  <h2 class="my-5 fw-bold text-center">Promociones</h2>


  <% if @promoted_products.present? %>
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">
      <% @promoted_products.each do |product| %>
          <%= render partial: 'product_card_promo', locals: { product: product } %>
      <% end %>
    </div>
  <% else %>
    <p>"No hay promociones en este momento".</p>
  <% end %>
</div>
